{% extends 'layout.twig' %}

{% block content %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    {{ parent() }}
    <form action="" method="POST">
        <p>
            <input type="text" name="heading" value="{{ post.heading }}">
        </p>
        <p>
            <textarea type="text" name="content">{{ post.content }}</textarea>
        </p>
        <input type="submit">
    </form>
{% endblock %}
